---
import Section from '@/components/Section.astro'
import { type Resume } from '@/types/resume'

interface Props {
    resume: Resume;
}
const { resume } = Astro.props;
const summary = resume.work
---


<Section title="Experience" esEn={false}>
    <ul>
        {
            summary.map((job, index) => {
                const {
                    name,
                    position,
                    startDate,
                    endDate,
                    summary
                } = job

                const startYear = new Date(startDate).getFullYear()
                const endYear = endDate !== null ? new Date(endDate).getFullYear() : "Present"

                return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{name}</h3>
                                        <h4>{position}</h4>
                                    </div>
                                    <time>{startYear} - {endYear}</time>
                                </header>
                                <footer>
                                    <p>{summary}</p>
                                </footer>
                            </article>
                        </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    article {
        h3 {
            font-weight: 500;
            color: #111;
        }
        h4 {
            font-weight: 400;
            color: #222;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    time {
        font-size: 0.85rem;
        color: #555;
    }
</style>