---
import * as cv from '@cv'
import { type Resume } from '@/types/resume'
import Section from '@/components/Section.astro'

const data: Resume = JSON.parse(JSON.stringify(cv))

const { name, label, email, summary, image, profiles, phone, location} = data.basics
const {city, region } = location
---
<Section title={name}>
    <div class="container">
        <div class="info">
            <h2>{label}</h2>
            <span>
                {city}, {region}
            </span>
            <footer>
                {
                    email && (
                        <a 
                            href={`mailto:${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            {email}
                        </a>
                    )
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>
<style>
</style>